{% extends 'base.html.twig' %}

{% block body %}
    <h2>List of series </h2>
    <section class="series-list">
    {% for serie in series %}
        <article>
            <a href="{{ path('series_show', {'id':serie.id}) }}">
                <img src="{{ asset('images/posters/series/' ~ serie.poster)}}" alt="{{ serie.name }}">
            </a>

            <div>{{ serie.name }}</div>
        </article>
{#    <div>#}
{#        #}
{#    </div>#}
    {% endfor %}
    </section>
{% endblock %}
