<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('series_') }}"></a>list of series</li>
        <li><a href="{{ path('series_create') }}"></a>Add a show</li>
    </ul>
</nav>
